# Build directories
_build/
build/
dist/
lensed_umap.egg-info/

# Editor configurations
.idea/
.vscode/
*.code-workspace

# Caches
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# Data files
notebooks/data/
notebooks/data/generated/
notebooks/figures/frames/
notebooks/figures/highres/