include README.md
include pyproject.toml
include LICENSE
include MANIFEST.in
include requirements.txt
include CHANGELOG.txt
recursive-include docs *
recursive-exclude docs/_build *
recursive-exclude notebooks *
recursive-exclude docs/_static/figures *